/* Shakespeare to Obsidian: General Styles */

/* styles for <h6> tags */
.markdown-source-view.is-live-preview div.HyperMD-header-6,
.markdown-preview-view h6 {
  color: #949494;
  font-size: 0.7em;
  margin-bottom: 0;
}

/* Maintain the exact spacing in Reading Mode. 
   It is also required to turn ON Obsidian "Editor / Strict Line Breaks" setting. */
.markdown-preview-view p {
	margin-top: 0;
	white-space: pre-wrap;
}

/* Speech Line Numbers */
.markdown-preview-view mark, 
.markdown-source-view.is-live-preview .cm-highlight {
	padding: 0.3em;
	margin-right: 0.5em;
	font-variant-numeric: tabular-nums;
	font-size: 0.8em;
	border-radius: 2px;
	color: #9c9c9c !important;
	margin-left: -3.6em;
	width: 40px;
	display: inline-block;
	text-align: right;
}
.theme-light .markdown-preview-view mark, 
.theme-light .markdown-source-view.is-live-preview .cm-highlight {
	background-color: #ffffff !important; 
}
.theme-dark .markdown-preview-view mark, 
.theme-dark .markdown-source-view.is-live-preview .cm-highlight {
	background-color: #505152 !important;
	color: #e1e1e3 !important;
}

/* Styles for Full Play (Editing) view */

/* Hide scene links */
.full-play p:has(.internal-link) {
	display: none;
}

/* Hide file/scene titles */
.full-play .embed-title.markdown-embed-title {
	display: none;
}

/* Hide links on full play */
.full-play .markdown-embed-link {
	display: none !important;
}

.full-play .markdown-embed {
	border-left: 0;
}

/* Hide links on full play */
.full-play a.internal-link,
.full-play a.internal-link:hover,
.full-play .markdown-rendered  {
	text-decoration: none;
    color: #000;
}
/* Full play: Match spacing on scene pages */
.full-play .markdown-rendered p {
	margin-block-end: .25rem;
}

/* Print full play */
@media print {
	.full-play.markdown-preview-view p,
	.full-play.markdown-preview-view li {
		font-size: .85em;
		margin: 0;
	}
	.full-play .markdown-rendered p {
		margin-block-end: 0;
		margin-block-start: 0 !important;
	}
	h6, .embed-title {
		display: none;
	}
}


/* HR Horizontal Rule */
.full-play hr {
	border: none;
}
.full-play hr::before {
	content: '***';
    display: block;
    text-align: center;
}